; This file's values can be overridden by project level override config file(s):
;
;   res://ivoyager_override.cfg
;   res://ivoyager_override2.cfg (overrides above if present)
;
; Paths can be absolute or relative to res://addons/ivoyager_assistant/editor/editor_plugin.gd.

[assistant_autoload]

IVAssistantServer="../assistant_server.gd"

[assistant]

port=29071
enabled=true
debug_only=true
assistant_name=""
context_file=""
