; This file's values can be overridden by project level override config file(s):
;
;   res://ivoyager_override.cfg
;   res://ivoyager_override2.cfg (overrides above if present)


; There are no Assistant config settings at this time. When needed, they will go here so
; they are overridable by the project as in other I, Voyager plugins.
